.mainContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 12vh;
}
    .inputContainer {
        flex: 0 1 35%;
    }
    .outputContainer {
        flex: 0 1 55%;
    }

.title,
.footer {
    background: rgb(25, 118, 210);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    left: 0;
    margin: 0;
    padding-left: 10px;
    position: fixed;
    right: 0;
}

.title {
    height: 10vh;
    line-height: 10vh;
    top: 0;
    z-index: 2;
}

.footer {
    bottom: 0;
    height: 5vh;
    line-height: 5vh;
}

@media screen and (max-width: 640px) {
    .title {
        font-size: .7em;
    }
    .mainContainer {
        flex-wrap: wrap;
    }
        .inputContainer {
            flex: 0 1 95%;
        }
        .outputContainer {
            flex: 0 1 95%;
        }
}
